.container {
    height: 100vh;

    background-image: url("../img/BG.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    max-height: 58px;
    position: relative;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
    margin-left: 79px;
    margin-right: 27px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 22px;
    line-height: 58px;
}

.nav-login {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.svg-icons {
    width: 118px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
}

.list-text {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 19px;
    padding-right: 79px;
    padding-left: 27px;
    border-left: 1px solid #828282;
}

.link-login {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 14px;
}

.link-login:hover {
    color: #236c47;
}

.logo:hover {
    color: #236c47;
}

.header:hover::after {
    content: '';
    background: #000000;
    mix-blend-mode: normal;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.svg-link svg:hover > path {
    fill: #236c47;
}

.svg-link svg > path {
    color: #FFFFFF;
}
/*Main content*/
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.registry-content {
    width: 444px;
    height: 584px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
}

.content-box {
    width: 324px;
    padding-left: 61px;
}

.square-shape {
    position: absolute;
    top: 29px;
}

.signup-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-top: 31px;
    padding-bottom: 15px;
}

.h2-style {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.link-registry-login {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    text-decoration: none;
}

.link-registry-login:hover {
    color: #01813F;
    text-decoration: underline;
}

.social-btn-style {
    text-decoration: none;
    font-size: 16px;
    line-height: 14px;
    height: 14px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.style-social-btn {
    padding-left: 38px;
}

.social-btn {
    display: flex;
    justify-content: space-around;
    gap: 4px;
}

.facebook-social-btn-style {
    padding: 16px 22px 16px 17px;
    background: #305DB8;
}

.facebook-social-btn-style::before {
    content: '';
    width: 1px;
    height: 28px;
    position: relative;
    left: 31px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.facebook-social-btn-style:hover {
    background: #022263;
}

.google-social-btn-style {
    padding: 16px 27px 16px 12px;
    background: #DF4A32;
}

.google-social-btn-style::before {
    content: '';
    width: 1px;
    height: 28px;
    position: relative;
    left: 37px;
    background: #2B0D09;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.google-social-btn-style:hover {
    background: #AB1F09;
}

.or-line-divider {
    color: #848484;
    font-size: 14px;
    line-height: 14px;
    padding-top: 31px;
    display: flex;
    justify-content: center;
    align-content: center;
    background: #FFFFFF;
}

.or-line-divider::before,
.or-line-divider::after {
    content: "";
    height: 1px;
    flex-grow: 1;
    position: relative;
    top: 8px;
    background: #F2F2F2;
}
/*Form*/
.registry-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding-top: 11px;
}

.registry-info-field {
    width: 324px;
    height: 44px;
    box-sizing: border-box;
    padding-left: 20px;

    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
    background: #FFFFFF;
    border: 1px solid #f2f2f2;
}

.registry-info-field:focus {
    color: #434343;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    outline: none;
}

.signup-window-form-btn {
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    cursor: pointer;

    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    outline: none;
    border: 0;
}

.signup-window-form-btn:hover {
    background: #01813F;
}


.signup-window-form-container {
    width: 324px;
}

.signup-window-form {
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #f2f2f2;
}

.registry-form-checkbox {
    color: #434343;

    font-size: 14px;
    line-height: 14px;
}

.registry-form-checkbox-text {
    color: #3CB878;
    text-decoration: none;
}

.registry-form-checkbox-text:hover {
    color: #01813F;
    border-bottom: 1.5px solid #01813F;
    padding-bottom: 1.5px;
}

.label-terms-conditions {
    color: #434343;
}

/*Checkbox design*/
.input-terms-conditions:checked,
.input-terms-conditions:not(:checked) {
    position: absolute;
    appearance: none;
}

.input-terms-conditions:checked + .label-terms-conditions,
.input-terms-conditions:not(:checked) + .label-terms-conditions {
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

.input-terms-conditions:checked + .label-terms-conditions:before,
.input-terms-conditions:not(:checked) + .label-terms-conditions:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
}

.input-terms-conditions:checked + .label-terms-conditions:after,
.input-terms-conditions:not(:checked) + .label-terms-conditions:after {
    content: "";
    position: absolute;
}

.input-terms-conditions:not(:checked):hover + .label-terms-conditions:after {
    content: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7.5L7 14.5L15 1' stroke='%233CB878' stroke-width='2'/%3E%3C/svg%3E");
    left: 3px;
    top: 2px;
}

.input-terms-conditions:checked + .label-terms-conditions:after {
    content: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7.5L7 14.5L15 1' stroke='%2301813F' stroke-width='2'/%3E%3C/svg%3E");
    left: 3px;
    top: 2px;
}

/*Transition elements*/
.logo,
.link-login,
.svg-link svg > path,
.link-registry-login,
.registry-info-field,
.signup-window-form-btn,
.google-social-btn-style,
.svg-link svg:hover > path,
.link-registry-login:hover,
.facebook-social-btn-style,
.signup-window-form-btn:hover,
.google-social-btn-style:hover,
.facebook-social-btn-style:hover,
.registry-info-field::placeholder,
.input-terms-conditions:checked + .label-terms-conditions:after,
.input-terms-conditions:not(:checked) + .label-terms-conditions:after {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}